.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 20px 0;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;

  &:hover {
    color: var(--hover-text);
  }
}
